html, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  overflow-x: hidden;
}

/* start of the first paragraph section */
.first-paragraph {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: transparent url('static/images/Bitmap-5.png') 100% 30% no-repeat ;
  width: 100%;
  height: 900px;
  position: relative;
}
/* ------NavBar section---*/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 81px;
  letter-spacing: 3px;
  border-bottom: 1px solid #FFFFFF;
  opacity: 0.7;
}

 .first-part, .second-part {
    flex-basis: 30%;
}

.social-media-part {
  flex-basis:10%;
}

.social-media-part i {
  margin-left: 15px;
  cursor: pointer;
}

.logo-part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;
}

.logo-part img {
    width: 54px;
}

.first-part ul, .second-part ul {
  display: inline-flex;
  list-style-type: none;
  text-align: center;
}

.first-part ul li, .second-part ul li{
    margin-left: 15px;
    cursor: pointer;
}



.cart-part .cart__order {
  height: 40px;
  width: 192px;
  margin: 0;
  border-radius: 25px;
  border: 1px solid #FFFFFF;
  transition: all .5s linear;
  cursor: pointer;
}

.cart__order:hover {
    background-color: #D4B254;
    border: 1px solid #D4B254;
}

.cart__order ul {
  list-style-type: none;
}
.cart-part ul li i{
  margin-left:15px;
  text-align: center;
}
/*---- End of NavBar Section -----*/

/*------Start of Main Content for First Paragraph-----*/
.first-paragraph .main-content {
  display: flex;
  width:100%;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.main-content h5{
text-align: center;
letter-spacing: 3px;
font-size: 10px;
color: #FFFFFF;
text-shadow: 0px 0px 4px #000000;
text-transform: uppercase;
opacity: 1;
}

.main-content h3{
text-align: center;
letter-spacing: 5px;
margin-top: -15px;
font-size: 45px;
width: 686px;
height: 110px;
color: #FFFFFF;
text-shadow: 0px 0px 25px #00000080;
opacity: 1;
}

.order-box {
width: 228px;
height: 50px;
background: #D4B254;
box-shadow: 0px 2px 10px #00000033;
border-radius: 30px;
opacity: 1;
margin: 0;
margin-top: 20px;
cursor: pointer;
transition: all .3s ease-in-out;
}

.order-box:hover {
  background: #e7be4b;
}

.order-box h4{
    text-align: center;
    text-transform: uppercase;
}

.first-paragraph .slider-part {
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-part .slide {
  width: 50px;
  cursor: pointer;
  height: 5px;
  border-radius: 5px;
  margin-left: 10px;
  background: #FFFFFF;
  transition: all .3s ease-in-out;
}

.slide.background {
    background-color: #D4B254 !important;
}

/*----End of First Paragraph---------*/

/*Start of Second Paragraph-------*/

.second-paragraph {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.second-paragraph .first-slide {
  flex-basis: 45%;
  height: 100%;
  position: relative;
}

.first-slide img {
    position: relative;
    width:100%;
    height: 100%;
    object-fit: cover;
}

.second-paragraph .second-slide{
  flex-basis:40%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.second-slide .text-box {
  width: 450px;
}

.text-box h5{
  height: 10px;
  font-size: 15px;
  letter-spacing: 3px;
  color: #D4B254;
  font-family: Roboto, 'san-serif';
}

.text-box h4{
  font-size: 35px;
  margin-top: 15px;
  font-family: 'Helvetica';
}

.text-box p{
  margin-top: -20px;
  font-size: 14px;
  line-height: 25px;
  font-family: Roboto, 'san-serif';
}

.text-box .about-us {
width: 211px;
margin-top: 30px;
height: 50px;
background: #D4B254 ;
border-radius: 30px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: all .3s ease-in-out;
}

.about-us:hover {
  background: #ddb33e;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.about-us p {
  font-size: 20px;
  color:#FFFFFF;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

/*-----End of Second Paragraph-------*/

/*----Start of Third Paragraph---------*/

.third-paragraph{
  width: 100%;
  height: 500px;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  z-index: 99;
}
.third-paragraph .customer-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.third-paragraph .customer-section .left-arrow {
  position: absolute;
  top: 40%;
  left: 200px;
  z-index: 10;
  cursor: pointer;
}

.third-paragraph .customer-section .right-arrow {
  position: absolute;
  top: 40%;
  right: 200px;
  z-index: 10;
  cursor: pointer;
}

.customer-section h5{
  font-weight: Roboto, 'sans-serif';
  font-size: 16px;
  color: #D4B254;
  height: 0px;
  letter-spacing:3px;
}
.customer-section h4{
  font-size: 25px;
  margin-top: -3px;
  color: #222222;
  font-family: Helvetica, sans-serif;
  width: 500px;
  text-align: center;
}

.customer-section p {
  font-size: 15px;
  width: 450px;
  text-align: center;
  font-family: Helvetica;
}

.paragraph-scroll{
  position: relative;
  display: flex;
  width: 50%;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.paragraph-scroll .page-scroll{
  display: block;
  transition: all .5s ease-in-out;
}



.customer-section .frequent-asked {
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D4B254;
  border-radius: 30px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.frequent-asked:hover {
  background-color: #f6b80d;

}
.frequent-asked p {
  text-transform: uppercase;
  color: #FFFFFF
}

/*----End of Third Paragraph--------*/

/*-----Start of Customer Gallery Section--------*/
.customer-gallery {
  position: relative;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.customer-gallery h5{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
}

 .gallery-details{
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery-details .gallery {
  flex-basis: 20%;
  cursor: pointer;
  margin:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gallery-details .gallery img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.customer-gallery .view-more{
  display: flex;
  height: 40px;
  width: 100px;
  border-radius: 30px;
  background-color: #D4B254;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s linear;
  cursor: pointer;
}

.view-more:hover {
  background-color:#ecbd3a;
  transform: scale(1.2)
}

.view-more p{
  text-transform: uppercase;
  color: #FFFFFF;
}
/*-----End of Customer Gallery Section---*/

/*-----Footer Section-------------*/
footer {
  bottom: 0;
  display: relative;
  height:100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items:center;
  flex-direction: column;
  background-color: black;
}

footer .content {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    line-height: 30px;
    position: relative;
}

.content .line {
    height: 1px;
    width: 100%;
    background-color:#cccccc;
    opacity: 0.4;
    position: relative;
}

.content img{
  width: 50px;
  position: absolute;
  background: #000000;
}

footer .list-item {
  display: flex;
  width: 800px;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.list-item .about, .service, .info, .follow {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.list-item .follow {
  flex-basis: 50%;
  display:flex;
  justify-content: center;
  
}

.list-item h4{
  font-size: 17px;
}

.list-item ul {
  position: relative;
  list-style: none;
  height: 100px;
 
}

.list-item ul li {
  text-align: left;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 6px;
  font-family: Roboto, sans-serif;
}

.list-item  .follow .social-icon {
  display: flex;
  height: 120px;
  justify-content: flex-start;
  align-items: flex-start;
}
 .icons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
  color: #000000;
  margin: 10px;
}

.icons i {
  font-size: 19px;
}

footer p {
  width: 400px;
  color: #FFFFFF;
  line-height: 20px;
  font-size:13px;
  text-align: center;
  font-family: Roboto, 'san-serif';
}

footer .close-content {
  width: 1000px;
  margin-top: 30px;
  height: 1px;
  background-color: #cccccc;
  margin-bottom: 10px;
  opacity: 0.4;
}

/*-----Mobile view Design-------*/



@media only screen and (max-width: 768px)  {
  
    .first-paragraph {
        height: 500px;
        justify-content: center;
        background-position: 40% 20%;
        width: 100%;
    }

    .first-paragraph .slider-part {
      width: 100%;
    }
    .social-media-part, .first-part, .second-part, .cart-part {
      display: none;
  }
  nav {
    width: 50px !important;
    height: 50px;
    margin-bottom: 50px;
  }
  .logo-part img {
      width: 40px;
      text-align: right;
  }
  .main-content h5{
    font-size: 6px;
    width: 150px;
  }
  .main-content h3{
    font-size: 22px;
    width: 250px;
    margin-top: 10px;
  }
  .order-box {
    width: 116px;
    height:25px;
    margin-top:0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .order-box h4{
      font-size: 10px
  }

  .second-paragraph {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .second-paragraph .first-slide, .second-slide {
      flex-basis: 100%;
  }
 .second-slide .text-box {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .text-box h5{
    font-size: 10px
  }
  .text-box h4{
    font-size: 16px;
    text-align: center;
  }
  .text-box p{
    margin-top: 0;
    text-align: center;
  }
  .text-box .about-us{
    width: 100px;
    height: 25px;
    text-align: center;
  }
  .about-us p {
    font-size: 12px
  }
  .third-paragraph {
    height: 100%;
  }

  
  .left-arrow, .right-arrow {
      display: none;
      
  }

  .customer-section {
    padding: 20px;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .customer-section h5{
    font-size: 12px;
    letter-spacing: 2px;
  }
  .customer-section h4{
    margin-top: 5px;
    font-size: 15px;
    width: 100%;
  }
  .paragraph-scroll {
    width: 100%;
    padding: 2px;
  }

  .paragraph-scroll .page-scroll {
    padding: 10px;
  }

  .customer-section p{
    width: 100%;
    font-size:11px;
  }
  .customer-section .frequent-asked{
      width: 150px;
      height: 25px;
  }

  .customer-section .mobile-scroll {
      width: 100%;
      display: flex;
      height: 80px;
      justify-content: center;
      align-items: center;
  }

  .mobile-scroll .dot {
      position: relative;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 5px;
      border: 2px solid #D4B254;
      transition: all .3s linear;
  }

  .mobile-scroll .dot.active {
    background-color:#D4B254
  }

  .frequent-asked p{
    font-size:8px;
  }

  .customer-gallery {
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .customer-gallery h5 {
    font-size: 15px;
  }
 .gallery-details {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

   .gallery-details .gallery {
    padding: 0px;
    flex-basis: 40%;
    margin: 5px;
  }
  .customer-gallery .view-more {
    width:70px;
    height: 20px;
    margin: 5px;
  }
  .view-more p {
    font-size: 8px;
  }

  footer {
    width: 100%;
    height: 100%;
  }

  footer .content {
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }

  footer .content img {
    width:20px;
  }
  footer .list-item {
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  footer  .service, .about, .follow, .info {
    flex-basis: 29%;
    justify-content: center;
  }

  .list-item .follow {
    flex-basis: 10%
  }

  footer .close-content {
    width: 100%;
  }

  footer h4 {
    font-size: 10px !important;
    text-align: center !important;
  }

  footer ul {
    margin-left: -10px;
  }

  footer ul li {
    font-size: 8px !important;
  }

  footer p{
    width:300px;
    margin-top: -40px;
  }

}

/*-----Ipad Screen Version-------*/
@media only screen and (max-width: 1024px){
  nav {
    width: 100%;
    justify-content: flex-start;
  }
   .first-part, .second-part {
    flex-basis: 25%;
    font-size: 10px;
    width: 100%;
}
.social-media-part {
    flex-basis: 10%;
}
.cart-part {
  flex-basis: 15%;
  margin-left: 30px;
}
.logo-part {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
}

.logo-part img {
  width: 56px;
}
.second-paragraph .first-slide {
    flex-basis: 50%;
}

.second-paragraph .second-slide {
  flex-basis: 50%
}

}